<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script> 
		$(document).ready(function(){
		   $(".line").hover(function(e){
		   var target = $(this).attr("parent")
		       if (e.type == "mouseenter"){
		       $("#" + target).animate({
		           backgroundColor: "#f18973"
		       });}
		       else {
		       $("#" + target).animate({
		           backgroundColor: "#f4e1d2"
		       });
		       }
		   });
		});
	</script> 
</head>
<body>
	<div class="linecontainer">
		{% for key, value in page|dictsort %}
		<div class="line" id="{{ value.id }}" parent="{{  value.parent  }}">
			<div class="subline">{{ value.htext }}</div>
			<div class="subline">{{ value.text }}</div>
		</div>
		{% endfor %}
	</div>
</body>
</html>

